textarea.form-control, 
textarea.form-control:focus, 
textarea.form-control:active {
  background-color:GhostWhite;
}


.nav-link {
  &:not(.active) {
    cursor: pointer;
  }
  &.active {
    cursor: default;
  }
}
